body {
  min-width: 850px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 45px;
  color: white;
  font-family: William, serif;
  font-weight: normal;
  font-size: 31px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  margin-bottom: 35px;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 31px;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  text-align: center;
}

img {
  width: 210px;
  margin-bottom: 80px;
}

div {
  width: 500px;
  height: 500px;
  margin: 0 auto 20px;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

h3 {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
